*{
    margin:0px;
    padding: 0%;
}


body{
    background-color: rgb(29, 29, 29);
}

/*HEADER*/


.bg-dark {
    background-color: black !important;
}
.logo{
    height: 60px;
}
.title{
    color: rgb(3, 158, 3);
    font-size: 30px;
}

.btn{
    color: rgb(3, 158, 3);
}

.text-warning{
    color: rgb(3, 158, 3);
}
.nav-link{
    color: rgb(3, 158, 3) ;
}
.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
    color: rgb(3, 158, 3)
}

.btn a{
    color: rgb(3, 158, 3);
}

.btn-outline-warning{
    --bs-btn-border-color:rgb(3, 158, 3);
}

/*MAIN*/
main{
    font-family: 'PT Sans', sans-serif;
    width: 100%;
}


#main__bienvenida{

    height: 500px;
    text-align: center;
    display: flex ;
    justify-content: center;
    align-items: center;
    background-image: url(../imagenes/fondo.jpg); 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-attachment: fixed; 
    
}


#main__bienvenida h2{

    font-size: 60px;
    padding: 5px;
    height: 40px;
    background-color: black;
    color: white;
    display: flex ;
    justify-content: center;
    align-items: center;    
    
}

.container{
    padding-top: 30px;
    padding-bottom: 30px;
}


#main_noticias .col-12{
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid rgb(3, 158, 3) ;
    padding: 10px;
    background-color:rgb(43, 43, 43);
}

.contenedor-texto{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
} 

.contenedor-noticia{
    font-size: 25px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contenedor-texto h2{
    font-size: 25px;
    color: white;
}  

.contenedor-video{
    display: flex;
    align-items: center;
    justify-content: center;
} 

#main__texto{
    background-color:rgb(43, 43, 43);;
    padding: 40px;
    height: 500px;
}

#main__texto h2{
    color: white;
    text-align: center;
    display: flex ;
    justify-content: center;
    align-items: center;
    font-size: 60px;
   
}

#main__texto .boton__comenza{
    font-size: 40px;
    padding: 70px;
    color: white;
    text-align: center;
    display: flex ;
    justify-content: center;
    align-items: center;
}

.titulo-celulares h2{
    margin: 30px;
    padding: 20px;
    padding-left: 40px;
    color: white;
    border-bottom: 1px solid white;
}

.filtro{
    color: white;
    margin: 30px;
    padding: 10px;
    font-size: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
} 


.filtro h3{
    font-size: 20px;
    border-bottom: 1px solid white;
}

.opciones{
    margin-top: 5px;
}

#productos{
    margin-top: 20px;
}

#productos h2{
    font-size: 40px;
    padding: 50px;
    height: 20px;
    color: white;
    text-align: center;
    display: flex ;
    justify-content: center;
    align-items: center;
}

.contenedor-productos{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center; 
    justify-content: end;
    padding: 100px;
    padding-bottom: 40px;
    padding-top: 40px; 
}

.tarjeta-producto{
    padding: 30px;
    border: 1px solid black; /*borde para la tarjeta7*/
    border-radius: 4px; /*borde redondeado*/
    padding: 20px;   /*espacio entre el contenedor y el contenido*/
    width: 230px; /*ancho*/
    height: 450px;
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: rgb(59, 59, 59);
    margin: 5px;

}

.tarjeta-producto-imagen{
    padding: 10px;
    height: 200px;
    border-radius: 8px;
}



.tarjeta-producto-precio{
    font-size: 25px;
    padding: 10px;
    padding-right: 100px;
    color: white;
}

.tarjeta-producto-titulo{
    color: white;
    padding-left: 15px;
    padding-bottom: 20px;
}

.tarjeta-producto-boton{
    font-size: 25px;
}

#Formulario-IniciarSesion{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.IniciarSesion{
    padding: 30px;
    border: 1px solid black; /*borde para la tarjeta7*/
    border-radius: 4px; /*borde redondeado*/
    width: 400px; /*ancho*/
    height: 215px;
    background-color: rgb(59, 59, 59);
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#Formulario-IniciarSesion h2{
    font-size: 40px;
    color: white;
}

.IniciarSesion-datos{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.IniciarSesion h3{
    color: white;
} 

.IniciarSesion-boton{
    padding-bottom: 15px;
}

.IniciarSesion-boton .Boton{
    font-size: 20px;
}

.IniciarSesion p, a{
    color: white;
}

#ayuda{
    padding: 30px;
}


#ayuda .ayuda-formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#ayuda h2{
    font-size: 50px;
    padding-top: 60px;
    color: white;
}

.ayuda-formulario{
    padding: 20px;
    border: 1px solid black; 
    border-radius: 4px; 
    width: 600px; 
    height: 215px;
    background-color: rgb(59, 59, 59);
    margin: 5px;
}

.ayuda-datos{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ayuda-formulario-inquietud{
    padding-bottom: 40px;
}


.ayuda-RedesSociales{
    border: 1px solid rgb(3, 158, 3);
}

.ayuda-RedesSociales a{
    margin: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ayuda-RedesSociales a img{
    height: 80px;
    width: 90px;
}

.ayuda-RedesSociales ul{
    text-align: center;
    padding-top: 30px;
}

.ayuda-RedesSociales ul li{
    padding: 20px;
    display: inline-block;


}

.ayuda-RedesSociales ul li img{
    height: 40px;
    width: 50;
}

.contenedor-redes a img{
    height: 10px;
}

#SobreNos{
    height: 100%;
    width: 100%;
}
#SobreNos h2{
    font-size: 50px;
    color: white;
    padding: 80px;
}

#SobreNos p{
    font-size: 30px;
    color: white;
    padding-bottom: 100px;
    padding-left: 40px;
}


/* 
FOOTER */
footer{
    background-color: black;
    padding: 30px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

footer .footer__texto{
    color: white;
    font-size: 10px;
}


@media (max-width:576px){
    .navegador{
        padding-top: 30px;
    }


    #main__bienvenida{
        width: 100%;
    }

    #main__bienvenida h2{

        font-size: 30px;
        padding: 5px;
        height: 30px;
        background-color: black;
        color: white;
        display: flex ;
        justify-content: center;
        align-items: center;    
        
    }

    #main__texto{
        background-color:rgb(43, 43, 43);;
        padding: 40px;
        height: 500px;
    }

    #main__texto h2{
        font-size: 30px;
       
    }
    .contenedor-texto h2 {
        font-size: 30px;
        
    }

    #main__texto .boton__comenza {
        font-size: 40px;
        padding: 40px;
        
    }
    
    .ayuda-RedesSociales ul{
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
    .ayuda-RedesSociales {
        border: none;
        width: 100%;
    }

    .ayuda-RedesSociales ul li img{
        padding: 2px;
        height: 30px;
        width: 40px;
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    #ayuda h2{
        font-size: 40px;
        padding-top: 60px;
        color: white;
    }

    .ayuda-formulario {
        padding: 20px;
        border: 1px solid black;
        border-radius: 4px;
        width: 300px;
       
    }

    footer{
        background-color: black;
        padding: 30px;
        height: 150px;
        display: flex;
        
    
    }

    .contenedor-noticia h2{
        font-size: 30px;
    }
}
